body{
    margin: 0%;
}

header{
    background: green;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 450px) {
    body{
        margin: 0%;
    }
    
    header{
        background: blue;
        color: white;
        padding: 20px;
    }
}